<template>
  <div class="Visualised">
    <div class="Diagram">
      <h2>Current Algorithm: {{ currentSelectedAlgorithm }}</h2>
      <BarChart
        xKey="name"
        yKey="amount"
        :data="barChartData"
        style="margin-top: 40px;"
      />
    </div>
    <div class="informationBox">
      <div class="selections">
        <div class="selections__algorithm">
          <div class="navigator">
            <div style="margin-left: auto;">
              <div class="selectButton" @click="start">
                Start
              </div>
              <div
                @mouseover="shortInfo = false"
                @mouseleave="shortInfo = false"
                class="help-tip"
              >
                <div v-if="shortInfo == true">
                  {{ currentSelectedAlgorithm }}
                </div>
              </div>
            </div>
          </div>

          <div>
            <h2>Select Algorithm</h2>
            <div
              v-for="(sortL, index) in sortList"
              :key="index"
              v-bind:class="{
                selectButton: sortL.enabled == 1,
                tooltipD: sortL.enabled == 0
              }"
              @click="select(sortL.name, sortL.enabled)"
            >
              {{ sortL.algorithm }}
            </div>
          </div>
        </div>
        <div class="selections__values">
          <div class="navigator">
            <div style="margin-left: auto;">
              <div class="selectButton" @click="generate(generateXnumber)">
                Generate
              </div>
            </div>
          </div>

          <h2>Select random numbers</h2>
          <input type="text" v-model="generateXnumber" size="12" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { store, mutations } from "@/statics/data/store";
import BarChart from "@/components/BarChart.vue";

export default {
  name: "sort",
  components: {
    BarChart
  },
  data: function() {
    return {
      run: true,
      sorted: false,
      currentSelectedAlgorithm: "",
      sortList: store.sortList,
      shortInfo: false,
      generateXnumber: 5
    };
  },
  computed: {
    currentmp1() {
      return store.currentmp1;
    },
    currentmp2() {
      return store.currentmp2;
    },
    showInfoA() {
      return this.shortInfo;
    },
    arra() {
      return store.barChartData.map(function(key) {
        return key.amount;
      });
    },
    barChartData() {
      return store.barChartData;
    },
    generateNumber() {
      return this.generateXnumber;
    }
  },
  methods: {
    start() {
      if (this.run == true) {
        this.sorted = false;

        // list of IF statements for which sorting algorithm to pick
        if (this.currentSelectedAlgorithm === "BUBBLE SORT") {
          mutations.bubbleSort(this.arra, store.barChartData);
        }

        if (this.currentSelectedAlgorithm === "QUICK SORT") {
          mutations.quickSort(this.arra, this.barChartData);
        }

        if (this.currentSelectedAlgorithm === "INSERTION SORT") {
          mutations.insertSort(this.arra, this.barChartData);
        }

        if (this.currentSelectedAlgorithm === "SELECTION SORT") {
          mutations.selectionSort(this.arra, this.barChartData);
        }

        if (this.currentSelectedAlgorithm === "MERGE SORT") {
          mutations.merge(this.arra, this.barChartData);
        }

        this.sorted = true;
        this.run = true;
      }
    },
    random() {
      let min = 0;
      let max = 1000;
      return Math.floor(Math.random() * (max - min + 1));
    },
    // Generating random numbers
    generate(genNumber) {
      var objMain = [];

      for (let i = 0; i < genNumber; i++) {
        const obj = {
          name: String(i),
          amount: this.random()
        };

        Object.assign({}, obj);
        objMain[i] = obj;
      }
      mutations.changeRedraw(false);
      mutations.setBarChartData(objMain);
      mutations.changeRedraw(true);
    },
    // An indication to show a tooltip box
    info() {
      this.shortInfo = !this.shortInfo;
    },
    select(algorithm, enabled) {
      mutations.loadColor(1, "lightskyblue");
      mutations.loadColor(2, "cornflowerblue");
      if (enabled) {
        this.currentSelectedAlgorithm = algorithm;
      } else {
        this.currentSelectedAlgorithm = "";
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.Visualised {
  float: top;
}

.Diagram {
  float: top;
  padding: 20px;
}

.informationBox {
  margin: 0 auto;
}

.selections {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  grid-template-rows: auto;
  grid-template-areas: "algorithm values";
  grid-gap: 20px;

  &__algorithm {
    background: white;
    padding: 20px;
    grid-area: algorithm;
    box-shadow: 0 1px 2px red;
    border-radius: 2px;
  }

  &__values {
    background: white;
    padding: 20px;
    grid-area: values;
    box-shadow: 0 1px 2px blue;
    border-radius: 2px;
  }
}

@media only screen and (max-width: 500px) {
  .selections {
    grid-template-columns: 1fr 1fr;
  }
}

.item {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 5px;
}

.selectButton {
  position: relative;
  display: inline-block;
  box-shadow: 0 1px 1px gray;
  background: whitesmoke;
  margin: 5px;
  padding: 4px;
  cursor: pointer;

  &:hover {
    background: white;
  }
}

.tooltipD {
  // position: relative;
  display: inline-block;
  border-bottom: 1px solid black;
  background: lightgrey;
  margin: 5px;
  padding: 4px;
  cursor: default;
}

.disabled {
  cursor: default;
}

.control:hover {
  background: lightgrey;
}

.navigator {
  display: flex;
}

.help-tip {
  position: relative;
  text-align: center;
  background-color: #bcdbea;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 26px;
  cursor: pointer;
  display: inline-block;
  margin: 7px 20px 0 10px;

  &:before {
    content: "?";
    font-weight: bold;
    color: #fff;
  }

  &:hover p {
    display: block;
    transform-origin: 100% 0%;
  }

  p {
    display: none;
    text-align: left;
    background-color: #1e2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #fff;
    font-size: 13px;
    line-height: 1.4;

    &:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-bottom-color: #1e2021;
      right: 10px;
      top: -12px;
    }

    &:after {
      width: 100%;
      height: 40px;
      content: "";
      position: absolute;
      top: -40px;
      left: 0;
    }
  }
}
</style>
