<template>
  <div id="container" class="svg-container" align="center">
    <svg v-if="redrawToggle === true" :width="svgWidth" :height="svgHeight">
      <g>
        <rect
          v-for="item in data"
          class="bar-positive"
          :key="item[xKey]"
          :x="xScale(item[xKey])"
          :y="yScale(0)"
          :width="xScale.bandwidth()"
          :height="0"
        ></rect>
      </g>
    </svg>
  </div>
</template>

<script>
import { scaleLinear, scaleBand } from "d3-scale";
import { max, min } from "d3-array";
import { selectAll } from "d3-selection";
// eslint-disable-next-line no-unused-vars
import { transition } from "d3-transition";

import { sleep } from "@/statics/data/sortFunctions";
import { store, mutations } from "@/statics/data/store";

export default {
  name: "BarChart",
  props: {
    xKey: String,
    yKey: String
  },
  mounted() {
    this.svgWidth = document.getElementById("container").offsetWidth * 0.9;
    this.AddResizeListener();
    this.AnimateLoad();
    this.refresh();
  },
  data: () => ({
    svgWidth: 0,
    min: 0
  }),
  methods: {
    AnimateLoad() {
      selectAll("rect")
        .data(store.barChartData)
        .transition()
        // .delay((d, i) => {
        //   return i * 10;
        // })
        .duration(10)
        .attr("y", d => {
          return this.yScale(d[this.yKey]);
        })
        .attr("height", d => {
          return this.svgHeight - this.yScale(d[this.yKey]);
        })
        .attr("fill", "steelblue");
    },
    async refresh() {
      // redraw the chart 300ms after the window has been resized
      await sleep(200);

      mutations.changeRedraw(false);
      mutations.changeRedraw(true);

      this.AnimateLoad();
    },
    async AddResizeListener() {
      this.refresh();

      window.addEventListener("resize", () => {
        this.$data.svgWidth =
          document.getElementById("container").offsetWidth * 0.9;
        this.AnimateLoad();
      });
    }
  },
  computed: {
    data() {
      return store.barChartData;
    },
    // eslint-disable-next-line vue/return-in-computed-property
    redrawToggle() {
      if (store.redrawToggled) {
        this.refresh();
        return store.redrawToggled;
      }
    },
    dataMax() {
      return max(this.data, d => {
        return d[this.yKey];
      });
    },
    dataMin() {
      return min(this.data, d => {
        return d[this.yKey];
      });
    },
    xScale() {
      return scaleBand()
        .rangeRound([0, this.svgWidth])
        .padding(0.1)
        .domain(
          store.barChartData.map(d => {
            return d[this.xKey];
          })
        );
    },
    yScale() {
      return scaleLinear()
        .rangeRound([this.svgHeight, 0])
        .domain([this.dataMin > 0 ? 0 : this.dataMin, this.dataMax]);
    },
    svgHeight() {
      // return this.svgWidth / 1.61803398875; // golden ratio
      var h = window.innerHeight;
      return (70 * h) / 100;
    }
  }
};
</script>

<style scoped>
.bar-positive {
  /* fill: steelblue; */
  /* transition: r 0.2s ease-in-out; */
}

.bar-positive:hover {
  fill: lightblue;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 1%;
  vertical-align: top;
  overflow: hidden;
}

.labels {
  font-family: "sans-serif";
  font-size: "12px";
  fill: blue;
}
</style>
