<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
body {
  font-family: sans-serif, Arial, Helvetica;
  // font-size: 18px;
  background: #f8fcff;

  ::selection {
    background: DodgerBlue;
    color: whitesmoke;
  }
}

#app {
  width: 92%;
  margin: 0 auto;
  text-align: center;
}
</style>
